body {
    min-width: 960px;
}

.container_7 {
    margin-left: auto;
    margin-right: auto;
    width: 910px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7 {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
}

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6 {
    position: relative;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

.container_7 .grid_1 {
    width: 130px;
}

.container_7 .grid_2 {
    width: 260px;
}

.container_7 .grid_3 {
    width: 390px;
}

.container_7 .grid_4 {
    width: 520px;
}

.container_7 .grid_5 {
    width: 650px;
}

.container_7 .grid_6 {
    width: 780px;
}

.container_7 .grid_7 {
    width: 910px;
}

.container_7 .prefix_1 {
    padding-left: 130px;
}

.container_7 .prefix_2 {
    padding-left: 260px;
}

.container_7 .prefix_3 {
    padding-left: 390px;
}

.container_7 .prefix_4 {
    padding-left: 520px;
}

.container_7 .prefix_5 {
    padding-left: 650px;
}

.container_7 .prefix_6 {
    padding-left: 780px;
}

.container_7 .suffix_1 {
    padding-right: 130px;
}

.container_7 .suffix_2 {
    padding-right: 260px;
}

.container_7 .suffix_3 {
    padding-right: 390px;
}

.container_7 .suffix_4 {
    padding-right: 520px;
}

.container_7 .suffix_5 {
    padding-right: 650px;
}

.container_7 .suffix_6 {
    padding-right: 780px;
}

.container_7 .push_1 {
    left: 130px;
}

.container_7 .push_2 {
    left: 260px;
}

.container_7 .push_3 {
    left: 390px;
}

.container_7 .push_4 {
    left: 520px;
}

.container_7 .push_5 {
    left: 650px;
}

.container_7 .push_6 {
    left: 780px;
}

.container_7 .pull_1 {
    left: -130px;
}

.container_7 .pull_2 {
    left: -260px;
}

.container_7 .pull_3 {
    left: -390px;
}

.container_7 .pull_4 {
    left: -520px;
}

.container_7 .pull_5 {
    left: -650px;
}

.container_7 .pull_6 {
    left: -780px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}