html, body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background-color: black;
}

body * {
    font-family: Segoe UI, monospace;
}

#toolbar {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    margin: 5px;
    border-right: 1px solid black;
}

#toolbar .toolbar-part {
    border-bottom: 1px solid black;
    padding: 10px;
}

#toolbar .toolbar-clickable {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
    background-color: #ffffff;
}

#toolbar .toolbar-clickable:hover {
    background-color: #3c3c3c;
    color: #ffffff;
}

#toolbar .toolbar-clickable:active {
    background-color: #707070;
    color: #ffffff;
}

.event {
    min-width: 400px;
    min-height: 250px;
    background: #3c3c3c;
    float: left;
    margin: 6px;
    padding: 6px;
    position: relative;
}

.event .event-control {
    float: right;
}

.event .event-name {
    clear: right;
    float: left;
    font-weight: bold;
    margin-right: 20px;
}

.event .event-date {
    float: right;
}

.event .event-description {
    padding-top: 10px;
    clear: both;
}

.event .event-participants {

}

.event .event-participant {

}

.event .event-tags {
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.event .event-tag {
    display: inline-block;
    background-color: #5f5f5f;
    padding: 2px;
    margin: 2px;
}

.viloo-template {
    display: none;
}

label {
    display: block;
}