<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Школа программистов HH - JavaScript / задание 1 / Иванов Антон</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/calendar.css"/>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"/> -->
    <!-- <link rel="stylesheet" href="css/datepicker.css"> -->
</head>
<body>

<div class="header">

    <div class="header-buttons">
        <div class="header-button"><div class="header-button__text">Добавить</div></div>
        <div class="header-button"><div class="header-button__text">Обновить</div></div>
    </div>

    <div class="header-search">
        <img class="header-search__img" src="imgs/search.png" alt="search" />
        <input class="header-search__input" type="text" />
        <!-- TODO: tip -->
    </div>

</div>

<div class="calendar">

    <div class="calendar-controls">

        <div class="calendar__month">Март 2013</div>

    </div>

    <table class="calendar-table">

        <tr class="calendar-table-row">
            <td class="calendar-table-cell">Понедельник, 25</td>
            <td class="calendar-table-cell">Вторник, 26</td>
            <td class="calendar-table-cell">Среда, 27</td>
            <td class="calendar-table-cell">Четверг, 28</td>
            <td class="calendar-table-cell">Пятница, 1</td>
            <td class="calendar-table-cell">Суббота, 2</td>
            <td class="calendar-table-cell">Воскресенье, 3</td>
        </tr>
        <tr class="calendar-table-row">
            <td class="calendar-table-cell">4</td>
            <td class="calendar-table-cell">5</td>
            <td class="calendar-table-cell">6</td>
            <td class="calendar-table-cell">7</td>
            <td class="calendar-table-cell">8</td>
            <td class="calendar-table-cell">9</td>
            <td class="calendar-table-cell">10</td>
        </tr>

    </table>

</div>

<!-- Header
<div class="container">


    <hr />
    <div id="page"></div>

</div>

<!-- Calendar template
<script type="text/template" id="calendar-template">
    <a href="#/new" class="btn btn-primary">New event</a>
    <hr />
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Due date</th>
            <th>Tags</th>
            <th>Members</th>
        </thead>
        <tbody id="calendar-body">
        </tbody>
    </table>
</script>

<!-- Event template
<script type="text/template" id="event-template">
    <td><%= name %></td>
    <td><%= description %></td>
    <td><%= dueDate %></td>
    <td><%= tags %></td>
    <td><%= members %></td>
    <td><a href="#/edit/<%= cid %>" class="btn">Edit</a></td>
    <td><a class="btn btn-danger remove">Remove</a></td>
</script>

<!-- Edit event template
<script type="text/template" id="edit-event-template">
    <form class="edit-event-form">
        <legend ><%= eventModel ? 'Update' : 'Create' %> event</legend>

        <label>Name</label>
        <input type="text" name="name" value="<%= eventModel ? eventModel.get('name') : '' %>"/>

        <label>Description</label>
        <input type="text" name="description" value="<%= eventModel ? eventModel.get('description') : '' %>">

        <label>Due date</label>
        <input class="datepicker" type="datetime" name="dueDate" value="<%= eventModel ? eventModel.get('dueDate') : '' %>">

        <label>Tags</label>
        <input type="text" name="tags" value="<%= eventModel ? eventModel.get('tags') : '' %>">

        <label>Members</label>
        <input type="text" name="members" value="<%= eventModel ? eventModel.get('members') : '' %>">

        <hr />
        <button type="submit" class="btn-primary"><%= eventModel ? 'Update' : 'Create' %> event</button>
        <% if(eventModel) { %>
            <input type="hidden" name="cid" value="<%= eventModel.cid %>" />
            <button class="btn btn-danger delete">Delete</button>
        <% }; %>

    </form>
</script>

<!-- Scripts
<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/main.js"></script> -->

</body>
</html>